.d-block {
  display: block;
}

.d-none {
  display: none;
}

button {
  margin-inline: 5px;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
}

.focus {
  background-color: black;
  color: white;
}